@charset "utf-8";

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#principal {
    width: 600px;
    height: 2000px;
    background-color: red;
    margin: auto;
    margin-top: 50px;
}

.secundaria {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position:sticky;
    right: 0;
    bottom: 160px;
}

