@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado {
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 15px;
    color: white;
    border: solid 5px black;
    display: inline-block;

}

.azul {
    background-color: rgba(0,0,255, 0.5);
}

.vermelho {
    background-color: #FF0000BB;
}

.amarelo {
    background-color: yellow;
    color: black;
}
