@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    margin: 15px;
}

.paragraph {
    margin: 20px;
}

.styled-link {
    color: green;
    font-weight: bold;
    text-decoration: none;
}